# Setting up

In [5]:
# Dependencies 
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from scipy.stats import sem
plt.style.use('seaborn')

# Hide warning messages in notebook
# import warnings
# warnings.filterwarnings('ignore')

In [6]:
# Import datasets
demo_2016 = pd.read_csv("assets/data/2016_demo_data.csv")
demo_2017 = pd.read_csv("assets/data/2017_demo_data.csv")
demo_2018 = pd.read_csv("assets/data/2018_demo_data.csv")
demo_2019 = pd.read_csv("assets/data/2019_demo_data.csv")

# Merging datasets

In [7]:
# Append datasets
final_df = demo_2016.append(demo_2017, ignore_index=True)
final_df = final_df.append(demo_2018, ignore_index=True)
final_df = final_df.append(demo_2019, ignore_index=True)
final_df

,student_id,year,address,city,state,zipcode,ethnicity
0,112140070,2016,3901 Kent Way,So San Francisco,CA,94080,Hispanic/Latino
1,113040117,2016,540 Serra Dr,So San Francisco,CA,94080,Asian Indian
2,113090072,2016,935 Gellert Blvd,Daly City,CA,94015,Black or African American
3,113130101,2016,14 Tunitas Ln,So San Francisco,CA,94080,White
4,113130103,2016,16 Sonora Ave,So San Francisco,CA,94080,White
...,...,...,...,...,...,...,...
36664,200009371,2019,303 Pine Ave #8,So San Francisco,CA,94080,Hispanic/Latino
36665,200009372,2019,101 San Felipe Ave,So San Francisco,CA,94080,White
36666,200009373,2019,101 San Felipe Ave,So San Francisco,CA,94080,White
36667,200009374,2019,1070 Grand Ave #2,South San Francisco,CA,94080,White
36668,200009375,2019,101 San Felipe Ave,So San Francisco,CA,94080,White

# Exporting dataframe into csv (! ONLY ONCE !)

In [8]:
# final_df.to_csv("assets/data/final_demo_data.csv", index=False)

# Using final dataset to do analysis

In [23]:
final_demo = pd.read_csv("assets/data/final_demo_data.csv")
final_demo.head()

,student_id,year,address,city,state,zipcode,ethnicity
0,112140070,2016,3901 Kent Way,So San Francisco,CA,94080,Hispanic/Latino
1,113040117,2016,540 Serra Dr,So San Francisco,CA,94080,Asian Indian
2,113090072,2016,935 Gellert Blvd,Daly City,CA,94015,Black or African American
3,113130101,2016,14 Tunitas Ln,So San Francisco,CA,94080,White
4,113130103,2016,16 Sonora Ave,So San Francisco,CA,94080,White

In [24]:
# Check the type of variables
final_demo.dtypes

student_id     int64
year           int64
address       object
city          object
state         object
zipcode       object
ethnicity     object
dtype: object

In [ ]:
# Change the type of "student_id" to string
final_demo["student_id"] = final_demo["student_id"].astype(str)

In [42]:
# Check NaN in the dataset
final_demo.isnull().sum()

student_id     0
year           0
address        0
city           2
state          6
zipcode        9
ethnicity     35
dtype: int64

In [44]:
# Drop NaN in the dataset
final_demo.dropna(inplace=True)

In [47]:
# Check duplicates/similarities in ethnicity
final_demo["ethnicity"].unique()

array(['Hispanic/Latino', 'Asian Indian', 'Black or African American',
       'White', 'Filipino', 'Samoan', 'Other Pacific Islander', 'Chinese',
       'American Indian or Alaska Native', 'Japanese', 'Other Asian',
       'Guamanian', 'Undefined', 'Vietnamese', 'Korean', 'Hawaiian',
       'Cambodian', 'Tahitian', 'Laotian', 'Hmong'], dtype=object)

In [39]:
# Count total number of enrollment
totalEnroll = final_demo["student_id"].nunique()

# Create subgroups based on year
yearEnroll = final_demo.groupby(["year", "ethnicity"])["ethnicity"].count()

In [ ]:
schoolType = dfComplete.groupby(["school_name"])["type"].unique()